body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    text-align: center;
    background-color: #70b5cb;
}

.title ion-icon {
    font-size: 30px;
    padding-left: 5px;
}

.container {
    height: 20%;
}

.input-container {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container ion-icon {
    padding-right: 5px;


}

.search-container {
    padding: 10px;
}


.work {
    padding: 5px;
}

.input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.search-button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 12px;
    cursor: pointer;


}
.search-container ion-icon{
    font-size: 18px;
    
    
}