body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.container {
    height: 20%;
}

.input-container {
    padding: 5px;

}

.search-container {
    padding: 10px;
}